<div>
  <h1 class="font-bold text-5xl">Members Only</h1>
  <h3>Welcome to our forum</h2>
  <div class="p-2 m-2.5">
    <%= render "post" %>
  </div>
</div>
<div>
  <% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <%= button_to "New Post", new_post_path %>
  <% else %>
    <%= button_to 'Log in', new_user_session_path %>
    <%= button_to 'Sign up', new_user_registration_path %>
  <% end %>
</div>