<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Members Only" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-900 text-white min-h-screen">
    <div class="w-full flex justify-between items-center">
      <%= link_to "Members Only", posts_path, method: :get, class: 'font-bold text-5xl text-white m-5' %>
      <% if user_signed_in? %>
        <div class="m-5 font-bold">
          <%= "Welcome, #{current_user.name} :)"%>
        </div>
      <% end %>
    </div>
    <main class="w-full mx-auto mt-5 px-5">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
